:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --accent-color: #4d5ae5;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ======= HEADER ======= */

.header-logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.67;
  color: var(--primary-text-color);
}

.logo-accent {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.nav-contact .link {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.nav-contact .link:hover,
.nav-contact .link:focus {
  color: #e7e9fc;
}

/* ======= /HEADER ======= */

/* ======= HERO ======= */

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.button {
  color: #fff;
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}

.pointer {
  cursor: pointer;
}

/* ======= SECTION ======= */

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-subject {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.section-subtitle {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ======= SITE FOOTER =======*/

.footer-logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.67;
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ======= PORTFOLIO ======= */
.btn {
  color: var(--accent-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: #f4f4fd;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background: #404bbf;
}
